{{! Searching by name should be the simplest form of search; results may be displayed on the same page}}
<div class="row">

    <form action="/search/results" method="GET" class="col s12">
        <div class="row name-search">
            <div class="input-field col s6 center">
                <input type="hidden" name="searchType" value="name">
                <div class="md-form name-search-bar">
                    <input class="form-control" type="text" id="birdName" name="birdName" , placeholder="Search for a bird..." aria-label="Search">
                </div>
            </div>
            <button class="btn btn-default name-search-submit" type="submit"><i class="fas fa-search"></i></button>
        </div>
    </form>
</div>