{{! Searching by name should be the simplest form of search; results may be displayed on the same page}}
<div class="row">
    <form action="/search/results" method="GET" class="col s12">
        <div class="row">
            <div class="input-field col s6 center">
                <input type="hidden" name="searchType" value="name">
                <input type="text" id="birdName" name="birdName">
                <label for="birdName">Search</label>
            </div>
        </div>
        <button class="btn grey darken-1" type="submit">Search</button>
    </form>
</div>