{{! This is where the results will be shown; undecided if results will be new page or displayed on the same page. }}
<!-- -->
<div>
    {{#if birdData}}
    <div>
        {{#each birdData}}
        <div>
            <h1>Name: {{entry.name}}</h1>
        </div>
        {{/each}}
    </div>
    {{else}}
    <h1>No results</h1>
    {{/if}}
</div>