<div class="container my-auto">
    <div class="search-cover m-auto">
        <h1 class="search-cover-title">Find-A-Bird</h1>
        <h3 class="search-cover-subtitle">How would you like to find or identify a bird:</h3>
    </div>
    <div>
        {{! Search button for finding a bird by observation}}
        <button class="btn btn-primary search-button" onclick="location.href='/search/observation'" data-toggle="tooltip" data-placement="bottom"
            title="Search for a bird based on what you saw.">
            <div class="search-button-cover">
                <img class="search-button-cover-img" src="/img/observation.webp">
                <span class="search-button-cover-name">Observation</span>
            </div>
        </button>
        {{! Search button for finding a bird by name}}
        <button class="btn btn-primary search-button" onclick="location.href='/search/name'" data-toggle="tooltip" data-placement="bottom"
            title="Search for a bird based on its name.">
            <div class="search-button-cover">
                <img class="search-button-cover-img" src="/img/name.webp">
                <span class="search-button-cover-name">Name</span>
            </div>
        </button>
        {{! Search button for finding a bird by location}}
        <button class="btn btn-primary search-button" onclick="location.href='/search/location'" data-toggle="tooltip" data-placement="bottom"
            title="Search for a bird based on where it lives.">
            <div class="search-button-cover">
                <img class="search-button-cover-img" src="/img/location.webp">
                <span class="search-button-cover-name">Location</span>
            </div>
        </button>
    </div>
</div>