<!DOCTYPE HTML>
<html>
    <head>
        <title>Bird Taxonomy</title>
        <link rel='stylesheet' type='text/css' href='/css/base.css'>
        <link rel='stylesheet' type='text/css' href='/css/classes.css'>
        <link rel='stylesheet' type='text/css' href='/css/fonts.css'>
        <link rel='stylesheet' type='text/css' href='/css/ids.css'>
        <link rel='stylesheet' type='text/css' href='/css/images.css'>
        <link rel='stylesheet' type='text/css' href='/css/overwrite.css'>
        <link rel='stylesheet' type='text/css' href='/vendor/bootstrap/css/bootstrap.min.css'>
        <link rel='shortcut icon' href='/img/eagle.ico'>
    </head>
    <body class='text-center'>
        <div class='body-container d-flex w-100 h-100 flex-column'>

            {{#if isHome}}
                <header class='mb-auto container-fluid'>
                    {{> header}}
                </header>
            {{else}}
                <header class='mb-5 container-fluid'>
                    {{> header}}
                </header>
            {{/if}}

            <main>
                {{{body}}}
            </main>

            <footer class='mt-auto container-fluid'>
                {{> footer}}
            </footer>

        </div>

        <!-- import bootstrap.js -->
        <script src='/vendor/bootstrap/js/bootstrap.min.js'></script>

        <!-- import jQuery -->
        <script src='/vendor/js/jquery-3.3.1.min.js'></script>
            
    </body>
</html>