<!DOCTYPE HTML>
<html>
    <head>
        <title>Bird Taxonomy</title>
        <link rel='stylesheet' type='text/css' href='/vendor/bootstrap/css/bootstrap.min.css'>
    </head>
    <body>
        {{{body}}}

        <!-- import bootstrap.js -->
        <script src='/vendor/bootstrap/js/bootstrap.min.js'></script>

        <!-- import jQuery -->
        <script src='/vendor/js/jquery-3.3.1.min.js'></script>
    </body>
</html>