<!DOCTYPE HTML>
<html>
    <head>
        <title>Bird Taxonomy</title>
        <link rel="stylesheet" type="text/css" href="/css/base.css">
        <link rel="stylesheet" type="text/css" href="/css/classes.css">
        <link rel="stylesheet" type="text/css" href="/css/fonts.css">
        <link rel="stylesheet" type="text/css" href="/css/ids.css">
        <link rel="stylesheet" type="text/css" href="/css/images.css">
        <link rel="stylesheet" type="text/css" href="/css/overwrite.css">
        <link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/futura-renner" type="text/css"/>
        <link rel="shortcut icon" href="/img/eagle.ico">

        {{#if showTests}}
            <link rel="stylesheet" href="/vendor/mocha.css">
        {{/if}}

    </head>
    <body class='text-center'>
        <div class='body-container d-flex w-100 h-100 flex-column'>

            {{#if isHome}}
                <header class='mb-auto container-fluid'>
                    {{> header}}
                </header>
            {{else}}
                <header class='mb-5 container-fluid'>
                    {{> header}}
                </header>
            {{/if}}

            <main>
                {{{body}}}
            </main>

            <footer class='mt-auto container-fluid'>
                {{> footer}}
            </footer>

        </div>
        {{#if showTests}}
            <div id="mocha">
                <script src="/vendor/mocha.js"></script>
                <script src="/vendor/chai.js"></script>
                <script>
                    mocha.ui('tdd');
                    assert = chai.assert;</script>
                <script src="/qa/global-tests/test-global.js"></script>
                {{#if pageTestScript}}
                    <script src="{{pageTestScript}}"></script>
                {{/if}}
                <script>mocha.run();</script>
            </div>
        {{/if}}
        <!-- import bootstrap.js -->
        

        <!-- import jQuery -->
        <script src="/vendor/js/jquery-3.3.1.min.js"></script>
            
    </body>
</html>