<div class='inner-header mx-auto'>
    <div class='header-brand mr-auto' onclick="location.href = '/'">
        <img class='header-logo' src='/img/eagle.webp' alt='eagle-logo'>
        <h3>Eagle Eye</h3>
    </div>
    <nav class='nav header-nav ml-auto'>
        <a class='nav-link active' href='/'>Home</a>
        <a class='nav-link' href='/bird-search'>Search</a>
        <a class='nav-link' href='/contact'>Contact</a>
    </nav>
</div>