<div class="inner-header mx-auto">
    <div class="header-brand mr-auto" onclick="location.href = '/home'">
        <img class="header-logo" src="/img/eagle.webp" alt="eagle-logo">
        <h3>Eagle Eye</h3>
    </div>
    <nav class="nav header-nav ml-auto">
        <a class="nav-link active" href="/home">Home</a>
        <a class="nav-link" href="/search">Search</a>
        <a class="nav-link" href="/home/contact">Contact</a>
        <a class="nav-link" href="/home/about">About</a>
    </nav>
</div>