<div class="container my-auto">
    <div class="home-cover">
        <h1 class="cover-title">EAGLE <img src="/img/eagle.webp"> EYE</h1>
        <h3 class="cover-subtitle">Welcome to Eagle Eye, your one stop destination for bird classification and journaling.</h3>
    </div>
    <div>
        <button class="btn btn-primary find-bird-button" onclick="location.href='/search'">Find a Bird</button>
    </div>
</div>