/**
 *  This is were CSS for fonts ONLY goes
 */

body {
  font-family: "FuturaRennerLight" !important;
}

.header-brand h3,
.cover-title,
.find-bird-button,
.search-cover-title {
  color: #ffc125;
  text-shadow: 0 0 2px #ffe8af;
}

.cover-title,
.search-cover-title {
  font-size: 5em;
}

.cover-subtitle,
.search-cover-subtitle {
  font-size: 1.25em;
  color: #313822;
}

.inner-footer {
  color: #667937;
}
