/**
 *  This is were CSS for overwriting Bootstrap or any other CSS ONLY goes
 */

/* Overwrite bootstrap background color */
body {
  background-color: #667937 !important;
}

/* Overwrite bootstrap default colors for button */
.find-bird-button,
.search-button {
  background-color: #434b2f !important;
  border: #434b2f !important;
  color: #ffc125 !important;
}

/* Overwrite bootstrap default hover colors for button */
.find-bird-button:hover,
.search-button:hover {
  background-color: #525c3a !important;
  border: #525c3a !important;
}

/* Overwrite margin of search-bar to center it */
.name-search {
  margin: 25% auto !important;
}

/* Overwrite the default border of bootstrap button */
.name-search-submit {
  border: 1px solid #434b2f !important;
}

/* Overwrite bootstrap font color for nav links */
.nav-link {
  color: #ffc125 !important;
}

/* Overwrite bootstrap default hover colors for nav-links */
.nav-link:hover {
  background-color: #525c3a;
  text-shadow: 0 0 0px;
}

/* Overwrite placeholder color darker */
::placeholder {
  color: #434b2f !important;
}
